body {
    padding-top: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.card {
    margin-bottom: 20px;
}

.btn-block {
    display: block;
    width: 100%;
}
